streamlit==1.12.2
pandas>=2.0.0
PyMySQL==1.0.2
geocoder==1.38.1
geopy==2.2.0
nltk==3.7
plotly==5.10.0
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
pdfminer.six
docx2txt==0.8
streamlit-tags==1.2.8
Pillow==9.2.0
altair==4.2.0
